@font-face {
  font-family: 'BebasNeueBold';
  src: url('BebasNeueBold.eot'); /* IE9 Compat Modes */
  src: /*url('BebasNeueBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('BebasNeueBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('BebasNeueBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('BebasNeueBold.svg#svgFontName') format('svg'); /* Legacy iOS */
}