<template>
<b-container class="blackBG p-0" fluid>
    <div class="container d-flex justify-content-center mb-3 blogsRow">
        <div class="p-3 col-md-4 animated zoomIn" id="post" v-for="blogs in blogsJson" :key="blogs.title">
                 <nuxt-link :to="{path:'/blogs/'+blogs.path}">
                 <b-img :src="'/blogs/images/'+blogs.thumbnail" class="img-fluid" /></nuxt-link>               
                   <p class="pt-3">{{blogs.description}}</p>
                <nuxt-link :to="{path:'/blogs/'+blogs.path}">read more</nuxt-link>
        </div>
    </div>
    </b-container>
</template>

<script>
import json from "@/json/blogs.json";
export default {
  data() {
    return {
      blogsJson: json
    };
  }
};
</script>
<style lang="scss" scoped>
@import "@/assets/fonts/fonts.scss";
.blackBG{
    background-color: black;
}
.blogsRow{
    background-color: black;
    color: white;
    border-radius: 10px;
}
.container{
    color: black;
}
#post{
    margin-top: 10px;
    position: relative;
    font-size: 0.9em;
  font-family: "Gotham-Book";
      letter-spacing: 1px;
      background-color: white;
      color: black;
      a{    
          position: relative;
          display: block;
          color: #d8262f;
          &:hover{
              color: black;
          }
      }

}
</style>
