<template> 
<b-container fluid class="welcome" id="hideMe">
      <div class="animated zoomInUp">
         <h1 class="landing">
            THE CITY, <br>
            YOU  <br>
            & ME.
        </h1>
      </div>   
  </b-container>      
</template>

<script>
export default {
  mounted(){
    setTimeout(function(){
      $('#hideMe').fadeOut();
    },2000)
  }
}
</script>
<style lang="scss">
@import "@/node_modules/rfs/scss/_rfs.scss";
@import "@/node_modules/aos/dist/aos.css";
$main-red: #d8262f;
.welcome {
  background-color: $main-red;
  h1 {
    color: #e44e4a;
  }
}
.landing {
  font-family: "BebasNeueBold";
  letter-spacing: 4px;
  text-align: center !important;
  @include responsive-font-size(19.5rem);
  margin-top: -0.18em;
  margin-bottom: 0;
  padding: 0;
}
#hideMe {
  height: 1080px;
  position: absolute;
  top: 0;
  z-index: 999999;
  // overflow: hidden;
  // overflow-y: scroll;
  // -moz-animation: cssAnimation 0s ease-out 2.5s forwards;
  // -webkit-animation: cssAnimation 0s ease-out 2.5s forwards;
  // -o-animation: cssAnimation 0s ease-out 2.5s forwards;
  // animation: cssAnimation 0s ease-out 2.5s forwards;
  // -webkit-animation-fill-mode: forwards;
  // animation-fill-mode: forwards;
  // transition-delay: 1s;
  // opacity: 1;
}
@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
  }
}
@-webkit-keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
}
</style>
