<template>
      <b-container fluid id="showMe" class="text-center justify-content-center main animated zoomIn" >
        <b-row>
          <b-col md="12" class="blog-row" id="button">
              <a href="#">read our blog</a>
          </b-col>
        </b-row>
        <div class="content animated fadeIn">
        <img src="~/assets/logo.png" alt="" class="img-fluid p-md-5 logo">
          <b-row class="justify-content-md-center">
          <p class="desc p-md-5">Condominiums at Markham & Ellesmere<br>1 + DEN, 2 + DEN AND 3 + DEN</p></b-row>                 
            <h3 class="text-center pb-md-2">Coming Soon</h3> 
            <br>       
            <b-btn v-b-modal.modalRegister class="btn">register now</b-btn>            
            </div>
      </b-container>           
</template>

<script>
export default {

};
</script>
<style lang="scss">
@import "@/node_modules/rfs/scss/_rfs.scss";
@import "@/node_modules/aos/dist/aos.css";
@import "@/assets/fonts/fonts.scss";

.blog-row {
  font-family: "Lobster1-4";
  position: absolute;
  background-color: black;
  font-size: 1.2em;
  letter-spacing: 1px;
  z-index: 999999;
  a {
    color: white !important;
    &:hover {
      text-decoration: none;
      color: lightgray;
    }
  }
}
.main {
  width: 100%;
  min-height: 100%;
  min-height: 1080px;
  min-height: 100vh;
}
.content {
  padding: 10% 0;
  top: 1%;
  bottom: 0;
  @media (max-width: 800px) {
    padding-top: 5em;
  }
  .btn {
    font-family: "Lobster1-4";
    color: #fff;
    background-color: black;
    padding:  10px 60px;
    border: none;
    border-radius: 2px;
    font-size: 1.5em;
    letter-spacing: 2px;
    @media (max-width: 800px) {
      margin-top: 2em;
    }
    &:hover {
      color: lightgrey;
    }
  }
}
h3 {
  font-family: "Lobster1-4", sans-serif !important;
  color: #fff;
  font-size: 2.3em;
  letter-spacing: 3px;
}
.logo{
    @media (max-width: 1350px) {
      margin-top: 1em;
  }
    @media (max-width: 800px) {
      margin-top: 2em;
  }
}
.desc {
  font-family: "Gotham-Book";
  @media (max-width: 800px) {
    width: 80%;
    text-align: center;
    margin: 2em auto;
  }
  color: white;
  @include responsive-font-size(1.5rem);
  letter-spacing: 1px;
}
#showMe {
  height: 100%;
  // height: 100vh;
  // overflow-y: scroll;
  // display: none;
}
</style>
