<template>
<div>
    <nav class="navbar navbar-expand-xl navbar-light mb-2 py-3">
        <div class="container">
               <nuxt-link class="navbar-brand" :to="{path:'/'}">
                <img src="@/assets/logo.png" alt="Tricyle Logo" class="col-md-5 img-fluid"></nuxt-link>
            <h4 class="float-right pl-4">THE CITY, YOU & ME.</h4>
            
                <div class="d-md-none d-sm-block d-xs-block justify-content-center mx-auto my-2">
         <b-btn v-b-modal.modalRegister class="mobReg px-5">register now</b-btn>            
        </div>
        </div>   
    </nav>
    <Register/>
    <b-btn v-b-modal.modalRegister  class="d-none d-md-block float-right sideBtn btn">register now</b-btn>           
    </div>
</template>
<script>
    import Register from "@/components/Register";
export default {
  components: {
    Register
  }
};
</script>
<style lang="scss">
@import "@/assets/fonts/fonts.scss";

.mobReg{
   font-family: "Lobster1-4";
    border-radius: 4px;
        letter-spacing: 1px;
    font-size: 1.2em;
}
.navbar{
      background-image: url("~/assets/bg-pattern.jpg");
      background-size: auto 45%;

}
.sideBtn{
    font-family: "Lobster1-4";
    border-radius: 2px;
    font-size: 1.2em;
    letter-spacing: 2px;
    position: fixed;
    border: 0;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg); 
    -moz-transform: rotate(90deg); 
    -o-transform: rotate(90deg); 
    background: black;
    text-align:center;
    height: 40px; 
    width: 175px;
    line-height: 1.2em;
    color: #fff; 
    right: -70px;
    margin-top: 4em;
    // margin-right: -60px;
    border-radius: 0px;
    z-index: 1;
        
}
h3 {
  font-family: "Lobster1-4", sans-serif !important;
  color: #fff;
  font-size: 2.3em;
}
h4{
        font-family: 'BebasNeueBold';
    letter-spacing: 2px;
      color: #fff;
      margin-top: 80px;
  font-size: 2em;
      @media (max-width: 1400px) {
      margin: 0;
    }
}
</style>
