<template>
  <b-modal hide-header hide-footer class="full-screen" id="modalRegister" title="Tricycle Condominiums Register Now">
    <img src="~/assets/logo.png" alt="" class="mt-5 col-md-3 col-xs-12 img-fluid">
    <br>
    <h3 class="mt-2 p-3">register now</h3>
    <b-container>
      <b-row class="justify-content-center">
        <b-form class="js-cm-form center-block col-md-6" id="subForm" ref="form" @submit="onSubmit" action="https://www.createsend.com/t/subscribeerror?description="
          method="post" data-id="2BE4EF332AA2E32596E38B640E905619B4DBDB23479BD11A842E99DE1C5A4BC45306723A29BBD8E5509B06755DCB1E6F5171E7B649F72C4AB0F116EC28B31723">
          <b-form-group id="exampleInputGroup4">
            <b-form-input id="fieldEmail" type="email" v-model="form.email" required placeholder="EMAIL ADDRESS*" name="cm-vaihj-vaihj"
              class="js-cm-email-input">
            </b-form-input>
          </b-form-group>
          <b-form-group id="exampleInputGroup1">
            <b-form-input id="fieldskiuli" type="text" v-model="form.name" required placeholder="FIRST NAME*" class="form-control"
              name="cm-f-skiuli">
            </b-form-input>
          </b-form-group>
          <b-form-group id="exampleInputGroup2">
            <b-form-input id="fieldskiuld" type="text" v-model="form.lastName" required placeholder="LAST NAME*" class="form-control"
              name="cm-f-skiuld">
            </b-form-input>
          </b-form-group>
          <b-form-group id="exampleInputGroup3">
            <b-form-input id="fieldskiulh" type="tel" v-model="form.phone" required placeholder="PHONE NUMBER*" class="form-control"
              name="cm-f-skiulh">
            </b-form-input>
          </b-form-group>

          <b-form-group id="exampleInputGroup5">
            <b-form-input id="fieldsujiud" type="text" v-model="form.postalCode" required placeholder="POSTAL CODE*"
              name="cm-f-sujiud" class="form-control">
            </b-form-input>
          </b-form-group>
          <!-- <b-form-group id="exampleInputGroup6" label="Are you an agent?">
                          <b-form-radio-group v-model="form.agent" :options="agentoptions" name="cm-fo-glyihl">
                          </b-form-radio-group>
                        </b-form-group>   -->
          <b-form-group>
            <b-form-select v-model="form.howdidyouhearaboutus" class="mb-3 form-control text-center" id="fieldglduyu"
              name="cm-fo-glduyu" required>
              <template slot="first">
                <!-- this slot appears above the options from 'options' prop -->
                <option :value="null" disabled selected>HOW DID YOU HEAR ABOUT US?*</option>
              </template>
              <!-- these options will appear after the ones from 'options' prop -->
              <option value="2089143">Facebook</option>
              <option value="2079652">Lash Website</option>
              <option value="2079653">Social Media</option>
              <option value="2079654">Google</option>
              <option value="2079655">Signage</option>
              <option value="2079656">Direct Mail</option>
            </b-form-select>
          </b-form-group>
          <b-form-group label="Are you an agent?*" class="agentlabel">
            <b-form-checkbox-group v-model="form.agent" :options="options" plain name="cm-fo-glyihl" />
          </b-form-group>
          <br>
          <b-btn type="submit" class="js-cm-submit-button btn col-md-12" id="submitBtn">Submit</b-btn>
          <b-btn class="js-cm-submit-button btn cancelBtn col-md-12 mt-3 mb-5" @click="hideModal">CANCEL</b-btn>
          <p class="consent">* required fields</p>
        </b-form>
      </b-row>
      <b-row>
        <b-col>
                  <p class="consent">By submitting my registration, I understand that I consent to receive future communications
          from Lash Group.</p>
        <p>
          <nuxt-link to="/privacypolicy/" style="color: #fff">Privacy Policy</nuxt-link>
        </p>
        </b-col>
      </b-row>
    </b-container>
  </b-modal>
</template>
<script>
  export default {
    name: "Register",
    data() {
      return {
        selected: '2077993',
        options: [{
            text: 'Yes',
            value: '2077992'
          },
          {
            text: 'No',
            value: '2077993'
          },
        ],
        form: {
          name: '',
          lastName: '',
          postalCode: '',
          phone: '',
          email: '',
          agent: '2077993',
          howdidyouhearaboutus: null
        }
      };
    },
    methods: {
      hideModal() {
        this.$root.$emit('bv::hide::modal', 'modalRegister')
      },
      onSubmit: function (event) {
        this.form.submit();
      },
      toggle: function () {
        this.$parent.show = !this.$parent.show;
      }
    }
  };
</script>
<style lang="scss">
  .agentlabel {
    legend {
      font-size: 20px;
    }
  }

  .bebas {
    font-family: 'BebasNeueBold';
    letter-spacing: 3px;
    font-size: 1.3em;
  }

  .modal-dialog {
    min-width: 100% !important;
    text-align: center;
    min-height: 100vh;
    color: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
  }

  .modal-body {
    background-image: url("~/assets/bg-pattern.jpg");
    min-height: 100vh;
    background-size: auto 18%;
    color: #fff;
    text-align: center;

    button {
      @extend .bebas;
      background-color: #d8262f;
      border-radius: 0;
      padding: 0.7em 0;
      text-transform: uppercase;
    }

    .cancelBtn {
      @extend .bebas;
      background-color: lightgray;
      color: black;

    }
  }

  .modal {
    min-height: 100vh !important;
    top: -3% !important;
    padding-left: 0 !important;
  }

  input[type=text],
  input[type=email],
  input[type=tel],
  select {
    @extend .bebas;
    text-align: center;
    border: 1px solid white;
    height: 53px !important;
    background-color: black !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    color: white !important;
    ;
  }

  input::placeholder,
  select {
    @extend .bebas;
    color: #918f90 !important;
    font-size: 1.3em;
  }

  .consent {
    color: #918f8f;
    font-size: 0.8em;
  }

  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    @extend .bebas;
    color: #918f90 !important;
    font-size: 1.3em;
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    @extend .bebas;
    color: #918f90 !important;
    font-size: 1.3em;
  }

  :-ms-input-placeholder {
    /* IE 10+ */
    @extend .bebas;
    color: #918f90 !important;
    font-size: 1.3em;
  }

  :-moz-placeholder {
    /* Firefox 18- */
    @extend .bebas;
    color: #918f90 !important;
    font-size: 1.3em;
  }
</style>