<template>
    <b-container fluid class="thankyou pt-5">
        <div class="container">
                <nuxt-link class="navbar-brand" :to="{path:'/'}">
                <img src="@/assets/logo.png" alt="Tricyle Logo" class="mt-5 col-md-8 col-xs-12 img-fluid"></nuxt-link>              
                <b-row class="justify-content-center mt-5">
                <div class="box pt-5"> 
                   <h3>THANK YOU<br>
                    FOR REGISTERING!<br><br>
                    Stay tuned<br>
                    for updates about this exciting<br>
                    new place to call home</h3> 
                </div>
              </b-row>            
        </div>
    </b-container>
</template>

<script>
    
</script>
<style lang="scss">
@import "@/assets/fonts/fonts.scss";

.box{
    font-family: 'BebasNeueBold' !important;
    letter-spacing: 2px;
    text-align: center;
    background-color: #d8262e;
    width: 500px;
    height: 400px;
    h3{
          font-size: 2.2em;

    }
}
.thankyou{
  background-image: url("~/assets/bg-pattern.jpg");
  min-height: 100vh;
  background-size: auto 18%;
  color: #fff;
  text-align: center;
}
</style>
