@font-face {
  font-family: 'Lobster1-4';
  src: url('Lobster1-4.eot'); /* IE9 Compat Modes */
  src: /*url('Lobster1-4.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Lobster1-4.woff') format('woff'), /* Pretty Modern Browsers */
       url('Lobster1-4.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Lobster1-4.svg#svgFontName') format('svg'); /* Legacy iOS */
}