<template>
    <div class="home">
        <Landing/>
        <Main/>
        <Blogs class="blogsDrop mt-4"/>
        <Register/> 

    </div>       
</template>


<script>
// import AOS from "aos";
import Landing from "@/components/Landing";
import Blogs from "@/components/Blogs";
import Main from "@/components/Main";
import Register from "@/components/Register";
export default {
  components: {
    Landing,
    Main,
    Blogs,
    Register
  },
  mounted() {
    // AOS.init();
    $("#button").click(function(){
      console.log('click');
        $(".blogsDrop").toggle();
    });
  }
};
</script>

<style lang="scss" scoped>
.home {
  background-color: #d8262f;
}
.blogsDrop {
    position: absolute;
    top: 0;
    display: none;
}
</style>
