<template>
    <div fluid class="thankyou">
    <b-row>
          <b-col md="12" class="blog-row" id="button">
              <a href="#">read our blog</a>
          </b-col>
        </b-row>
           <Thankyou/>
           <Blogs class="blogsDrop mt-4"/>
    </div>       

   

</template>
<script>
import Blogs from "@/components/Blogs";
import Thankyou from "@/components/Thankyou";
export default {
  components: {
    Thankyou,
    Blogs,
  },
    mounted() {
    $("#button").click(function(){
        $(".blogsDrop").toggle();
    });
  }
};
</script>
<style lang="scss">
.blog-row {
  font-family: "Lobster1-4";
  position: absolute;
  background-color: black;
  font-size: 1.2em;
  letter-spacing: 1px;
  a {
    color: white !important;
    &:hover {
      text-decoration: none;
      color: lightgray;
    }
  }
}
.blogsDrop {
    position: absolute;
    top: 0;
    display: none;
}
.main {
  width: 100%;
  min-height: 100%;
}
</style>
