<template>
    <Blogs/>
</template>
<script>
import Blogs from "@/components/Blogs";
import blogs from "@/json/blogs.json";
export default {
  components: {
    "Blogs": Blogs
  },
   data() {
    return {};
  }
};
</script>