<template>
    <b-container class="p-0" fluid>
        <Nav/>
        <b-container class="pb-5">
    <b-col md="12">
        <b-img :src="'/blogs/images/tricycle_life_hero.jpg'" class="img-fluid pb-4" /> 
        <h1> THE CITY, YOU & LIFE AT TRICYCLE     </h1>
         <h2 class="pl-1">Discover the Tricycle Blog  </h2>
         <br>
        <p>  Introducing Tricycle, the highly anticipated 3rd Phase at Markham & Ellesmere Living. 
            <br><br>
            Many of us remember that incredible feeling of freedom we had as children when we rode upon our very first tricycle. <br><br>
            Suddenly, our very small, contained worlds seemed to grow infinitely larger. Now under the watchful eyes of our parents, we were free to explore the neighbourhoods that we lived in at our own pace. <br><br>

            Instantly making it easier to connect with everything that made life around us so very special, exciting and new. 
            <br><br>
            This is the feeling that inspired us as we designed Tricycle Condominiums, the latest phase at ME Living. <br><br>
            ME Living is a huge part of what makes this neighbourhood so special.  This meticulously planned community of condominiums, townhomes, shops and parks give homebuyers a chance to live in a balanced modern community that connects them to everything that’s important in life. <br><br>
            Tricycle will take the amazing lifestyle that’s already possible here and create even more opportunities for families to connect to the homes and the lives that they’ve always wanted. <br><br>
            Tricycle is all about having access to acres of neighbourhood greenspace moments from your door.  Not to mention easy access to transit, shopping, schools, recreation and more. <br><br>
            Tricycle is also about connecting you to the home you love. A beautifully designed new suite that’s been expertly crafted to meet your family’s every need — with inviting open-concept floor plans, innovative kitchen designs and elegant master suites. <br><br>
            Whether you’re a young couple just starting out on your journey together, or a family looking for a place for your children to flourish and grow, you’ll love having access to Tricycle’s amazing lifestyle and recreation amenities complex!<br><br>
            So if you’ve been looking for a better way to bring the best of The City, You and ME together at Markham and Ellesmere, you’re going to love Tricycle Condominiums. <br><br>
        </p>
        <b-img :src="'/blogs/images/life_2.jpg'" class="d-none d-md-block img-fluid" />    
        </b-col>
        </b-container>
    <Blogs class="py-3"/>
    </b-container>   
</template>
<script>
import Nav from "@/components/Nav";
import Blogs from "@/components/Blogs";
import Register from "@/components/Register";
export default {
  components: {
    Blogs,
    Nav,
    Register
  }
};
</script>
<style lang="scss">
@import "@/assets/fonts/fonts.scss";

.blogsFooter{
    background-color: black;
    margin: 2em 0;
    bottom: 1;
    top: 0;
}
h1{
    font-family: 'BebasNeueBold';
    letter-spacing: 2px;
    font-size: 3.5em;
}
h2{
    font-family: "Lobster1-4";
    font-size: 2.5em;
    letter-spacing: 1px;
}
p{
  font-family: "Gotham-Book";
}
</style>

