@font-face {
  font-family: 'Gotham-Book';
  src: url('Gotham-Book.eot'); /* IE9 Compat Modes */
  src: /*url('Gotham-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Gotham-Book.woff') format('woff'), /* Pretty Modern Browsers */
       url('Gotham-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Gotham-Book.svg#svgFontName') format('svg'); /* Legacy iOS */
}